[Desktop Entry]
Type=Application
Name=ArDali
GenericName=Web Browser
Comment=ArDali web browser
Exec=/usr/bin/ardali-browser %U
TryExec=/usr/bin/ardali-browser
Icon=ardali
Terminal=false
Categories=Network;WebBrowser;
StartupWMClass=ArDaliBrowser
StartupNotify=true
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;
